{name, "iconv"}.
{authors, ["Torbjorn Tornkvist <tobbe@bluetail.com>"]}.
{description, "iconv driver for erlang"}.
{homepage, "https://github.com/Vagabond/erlang-iconv"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/Vagabond/erlang-iconv.git", {branch, "master"}}}.
{applications, [conv]}.
